*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.cont {
    width: 90%;
}



@media screen and (min-width:0px)and (max-width:567px) {
.container {
    width: 100%;
    margin: auto;
}
thead tr th{
font-size: 10px !important;
}
}
@media screen and (min-width:568px)and (max-width:765px) {
    .container {
        width: 100%;
        margin: auto;
    }
    thead tr th{
    font-size: 15px !important;
    }
    }
